main {
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
  margin-right: 1vw;
}

.topHeader {
  margin: 20px;
  height: 40vh;
  width: 50vw;
  background-color: #a500f7;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

.user-profile-picture {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.profile-name {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.tweetButtonCounter {
  margin: 15px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  main {
    flex-flow: row wrap;
    margin: 0px;
  }

  .topHeader {
    height: 30vh;
    width: 100%;
    margin: 0px;
  }

  .new-tweet {
    width: 100%;
  }

  .tweetBox {
    width: 100%;
  }

  .theTweet {
    font-size: 1rem;
  }

  hr {
    width: 100%;
  }

  .current-profile-picture {
    max-height: 20vh;
    max-width: 20vw;
  }
  
  textarea {
    width: 95vw;
  }

  #advertisement-container {
    display: none;
  }

}

@media only screen and (max-width: 768px) {

  main {
    flex-flow: row wrap;
    margin: 0px;
  }

  .topHeader {
    height: 30vh;
    width: 100%;
    margin: 0px;
  }

  .new-tweet {
    width: 100%;
  }

  .tweetBox {
    width: 100%;
  }

  .theTweet {
    font-size: 1rem;
  }

  hr {
    width: 100%;
  }

  .current-profile-picture {
    max-height: 20vh;
    max-width: 20vw;
  }

  textarea{
    width: 95vw;
  }

  #advertisement-container {
    display: none;
  }

}