main {
  display: flex;
  flex-direction: row;
  margin-left: 1vw;
  margin-right: 1vw;
}

.topHeader {
  margin: 20px;
  height: 40vh;
  width: 50vw;
  background-color: #a500f7;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

.user-profile-picture {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.profile-name {
  display: flex;
  justify-content: center;
  margin-bottom: 2vh;
}

.tweetButtonCounter {
  margin: 15px;
}