nav {
  height: 120px;
  width: 100vw;
  z-index: 100;
  background-color: #4056A1;
  color: #FFF; 
  top: 0;
  position: fixed;
  padding: 1.5em;
}

.styling {
  font-family: 'Bungee';
  float: left;
  font-size: 1em;
}

.styling-two {
  float: right;
  font-size: 1em;
}

.scroll-down {
  float: right;
  padding: 6px;
  background-color: lightsteelblue;
  border-color: black;
}

