section {
  width: 50vw;
}

input {
  float: left;
  background-color: blue;
  font-family: 'Bungee';
  color: white;
}

textarea {
  width: 45vw;
  height: 11vh;
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 5px;
  border-bottom-color: black;
  background-color: #f4f1ec;
  resize: none;
}

form {
  display: none;
  margin-top: 20px;
  margin-bottom: 80px;
}

.counter {
  float: right;
}

.error-message {
  display: none;
  color: red;
  border: 2px red solid;
  padding: 10px;
  margin-bottom: 40px;
}

.error-message-empty {
  display: none;
  color: red;
  border: 2px red solid;
  padding: 10px;
  margin-bottom: 40px;
}